# Archivos específicos de Android Studio y Gradle
.gradle/
/build/
local.properties

# Configuración de la interfaz y del IDE
.idea/
*.iml
*.log
.DS_Store

# Archivos temporales de compilación
buildOutputCleanup/
outputfiles.bin
file-system.probe
