<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ferreteria_app">

        <activity
            android:name=".ComprobanteActivity"
            android:exported="false" />
        <activity
            android:name=".ResultadoPagoActivity"
            android:exported="false" />
        <activity
            android:name=".ProcesandoPagoActivity"
            android:exported="false" />
        <activity
            android:name=".TarjetaPagoActivity"
            android:exported="false" />
        <activity
            android:name=".YapePagoActivity"
            android:exported="false" />
        <activity
            android:name=".MetodoPagoActivity"
            android:exported="false" />
        <activity
            android:name=".ResumenPedidoActivity"
            android:exported="false" />
        <activity
            android:name=".RecuperarActivity"
            android:exported="false" />
        <activity
            android:name=".EditarPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".BuscarActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="TU_API_KEY"/>
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".CatalogoActivity"
            android:exported="false" />
        <activity
            android:name=".IniciarSesionActivity"
            android:exported="false" />
        <activity
            android:name=".ClienteActivity"
            android:exported="false" />
        <activity
            android:name=".CarritoActivity"
            android:exported="false" />
        <activity
            android:name=".PedidoActivity"
            android:exported="false" />
        <activity
            android:name=".MapaSeguimientoActivity"
            android:exported="false" />
        <activity
            android:name=".PrincipalActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>